########################################
# Number of days in each step
########################################
#
export analdays=1
#
export fcstdays_step1=1
export fcstdays_step2=0
export fcstdays_step3=0
#
#
########################################
# Forecast step parameters
########################################
#
export CONTINUE_FORECAST_STEP1='NO'
export CONTINUE_FORECAST_STEP2='YES'
export CONTINUE_FORECAST_STEP3='YES'
#
export SAVE_RESTART_FORECAST_STEP1='YES' 
export SAVE_RESTART_FORECAST_STEP2='YES' 
export SAVE_RESTART_FORECAST_STEP3='NO' 
#
########################################
# Forecsat post-pricessing parameters
########################################
#
export fcst_post_ndays=1
