#
# These items are configurable for a particular test.
#
# projectroot is the location of the the project (modulefiles, jobs, scripts, ush, exec, etc)
# comroot is the location of the output
#

export projectroot=/scratch2/NCEPDEV/$heraproj/$LOGNAME/rtofs_glo.v2.1.1
export comroot=/scratch2/NCEPDEV/$heraproj/$LOGNAME/COMDIR

