#
# These items are configurable for the user ($USER).
#
# heraproj is the the group/project on hera (e.g. hurricane, marine, ocean, etc) and is nominally $GROUP
# account is the cpu project to run the jobs
# inputroot is the location of the input data (dcom, gfs, rtofs)
# tmproot is the location of the work directory
#

export heraproj=marine
export account=hurricane
export inputroot=/scratch2/NCEPDEV/$heraproj/$LOGNAME/INPUT
export tmproot=/scratch2/NCEPDEV/$heraproj/$LOGNAME/ptmp


